// @import "./mixins";

.From-Admin-Main-Container {
  @include flexColumn;
  justify-content: center;

  .Form-Admin {
    background-color: blue;
    padding: 20px;
    height: 100%;
    width: 60%;
    padding: 5px;

    @include flexColumn;
    // justify-content: space-evenly;
    .Form-Admin-Container {
      // justify-content: space-evenly;
      @include flexColumn;
      .Form-Admin-Container-Input {
        padding: 5px;
      }
    }

    .Form-Admin-Container-Button {
      @include flexColumn;
      padding-top: 9px;
      margin-bottom: 9px;
      .Form-Admin-Button {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    .Form-Admin-Container-Description {
      height: 300%;
      padding: 5px;
      width: 96%;
    }
    .Form-Admin-Container-PostButton {
      margin-top: 10px;
      padding: 5px;
    }
  }
}
.Admin-Display-Product-Main-Container {
  @include flexColumn;
  justify-content: center;

  .Admin-Display-Product-Container {
    background-color: pink;
    justify-content: center;
    width: 60%;
    margin-top: 30px;
    padding: 40px;
    @include flexColumn;
    .Admin-Display-Product-Container-Name {
      .Admin-Display-Product-Name {
        font-size: $textSizeSmall;
      }
    }

    .Admin-Display-Product-Container-ImageUrl {
      .Admin-Display-Product-ImageUrl {
        height: 60%;
        width: 70%;
      }
    }
    .Admin-Display-Product-Container-Info {
    }

    .Admin-Display-Product-Container-Category {
    }
    .Admin-Display-Product-Container-Button {
      margin: 6px;
    }
  }
}
