.From-Admin-Main-Container {
  @include flexColumn;
  justify-content: center;

  .Form-Admin {
    background-color: blue;
    padding: 20px;
    height: 100%;
    width: 70%;
    padding: 5px;
    justify-content: center;
    @include flexColumn;
    .Form-Admin-Container {
      @include flexColumn;
      .Form-Admin-Container-Label {
        .Form-Admin-Container-Input {
          padding: 5px;
        }
      }
    }

    .Form-Admin-Container-Button {
      @include flexColumn;
      background-color: indianred;
      padding-top: 9px;
      margin-bottom: 9px;
      .Form-Admin-Button {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    .Form-Admin-Container-Description {
      height: 300%;
      padding: 5px;
      width: 96%;
    }
    .Form-Admin-Container-PostButton {
      margin-top: 10px;
      padding: 5px;
    }
  }
}
.Admin-Display-ProductList-Main {
  overflow-x: hidden;
  background-color: green;
  width: 70%;
  height: 500px;
  @include flexColumn;
  justify-content: center;
  .Admin-Display-Product-Main-Container {
    @include flexColumn;
    justify-content: center;
    .Admin-Display-Product-Container {
      background-color: pink;
      width: 70%;
      margin-top: 30px;
      padding: 40px;
      @include flexColumn;
      .Admin-Display-Product-Container-Name {
        .Admin-Display-Product-Name {
          font-size: $textSizeSmall;
        }
      }

      .Admin-Display-Product-Container-ImageUrl {
        .Admin-Display-Product-ImageUrl {
          height: 60%;
          width: 70%;
        }
      }
      .Admin-Display-Product-Container-Info {
      }

      .Admin-Display-Product-Container-Category {
      }
      .Admin-Display-Product-Container-Button {
        margin: 6px;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .Form-ShoppingCart-Main-Content-Container {
    .ShoppingCart-List-Container {
      background-color: rgb(54, 42, 165);

      .Product-ShoppingCart-Container {
        background-color: rgb(228, 140, 174);
        flex-direction: row;

        .ShoppingCart-List-Content-Item {
          flex-direction: column;
          .Admin-Display-Product-ImageUrl {
            width: 100%;
            height: 90%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  .Form-ShoppingCart-Main-Content-Container {
    .ShoppingCart-List-Container {
      background-color: rgb(209, 182, 64);
      .Product-ShoppingCart-Container {
        background-color: rgb(147, 207, 90);

        .ShoppingCart-List-Content-Item {
          .Admin-Display-Product-ImageUrl {
            width: 50%;
            height: 90%;
          }
        }
      }
    }
  }
}
