// @import "./mixins";

.From-Admin-Main-Container {
  @include flexColumn;
  justify-content: center;
  .Form-Admin {
    background-color: blue;
    padding: 20px;
    @include flexColumn;
    // justify-content: space-evenly;
    .Form-Admin-Container {
      // justify-content: space-evenly;
      @include flexColumn;
      .Form-Admin-Container-Input {
        padding: 5px;
      }
    }

    .Form-Admin-Container-Button {
      @include flexRow;
      padding-top: 9px;
      margin-bottom: 9px;
      .Form-Admin-Button {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    .Form-Admin-Container-Description {
      height: 300%;
      padding: 5px;
      width: 96%;
    }
    .Form-Admin-Container-PostButton {
      margin-top: 4px;
    }
  }
}
