.ShoppingCart-List-Container {
  overflow-x: hidden;
  background-color: green;
  width: 100%;
  height: 500px;
  justify-content: center;

  .Product-ShoppingCart-Info {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    background-color: rebeccapurple;
    .Admin-Display-Product-ImageUrl {
      width: 70%;
      justify-content: center;
      height: 70%;
    }
  }
}
//https://www.youtube.com/watch?v=fL8cFqhTHwA
