@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin buttonSmall {
  padding: 20px 16px;
  border: none;
  border-radius: 50%;
}

@mixin wrapper-main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
