// .Nav {
//   background-color: black;
//   width: 100%;

.Nav {
  width: 100%;
  height: 50px;

  .Nav-Dropdown {
    display: inline-block;
    background-color: #e7c5a5;
    width: 100%;
    position: fixed;
    position: relative;
    top: 0px;
    @include flexColumn;
    .Navbar {
      @include flexRow;
      .buttonMenu {
        display: flex;
        height: 50px;
        width: 50px;
        position: relative;
        background-color: rgb(159, 189, 162);
        z-index: 300;
        border: none;

        .faBars {
          height: 50px;
          width: 50px;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 300;
          color: rgb(254, 255, 254);
        }
      }
      .Nav-Container-Content-Link-MinWidth400 {
        display: none;
        .Nav-link-Width400 {
          display: none;
        }
      }
      .faShoppingCart-Icon-Content {
        @include flexRow;
        width: 10%;
        .faShoppingCart-Icon-Content-Container {
          @include flexRow;
          width: 10%;
          background-color: lightgray;
          .faShoppingCart {
            display: flex;
            background-color: lightgray;
            justify-items: flex-end;
          }
        }
      }
      .Nav-Container-Content-Link {
        display: none;
      }
      .Loggin-Content-Container {
        @include flexRow;
        justify-content: space-evenly;
        width: 85%;

        .Loggin-Container {
          display: flex;
          margin-top: 15px;

          .faShoppingCart-Icon-Content-Container {
            display: flex;
            margin-top: 7px;

            .faShoppingCart {
              color: rgb(255, 255, 255);
            }
            .Quantity-Counter-Totalt {
            }
          }
        }
      }
    }

    .Menu-Dropdown-Content {
      @include flexRow;
      position: absolute;
      background-color: rgb(139, 144, 139);
      top: 34px;
      width: 100%;
      height: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 99;
      opacity: 0.9;
      justify-content: space-evenly;
      cursor: pointer;
      z-index: 100;
      .Menu-Container-Content-Li {
        z-index: 100;
        list-style-type: none;
        display: flex;

        .Menu-Container-Content-Text {
          color: black;
          z-index: 10;
          display: flex;
          position: relative;
          text-decoration: none;
        }
        .Menu-Container-Content-Text:hover {
          padding-bottom: 3px;
        }
        .Menu-Container-Content-Text::before {
          content: "";
          position: absolute;
          width: 100%;
          max-width: 100px;
          height: 2px;
          bottom: 250px;
          list-style-type: none;
          visibility: hidden;
        }
        &:hover ::before {
          visibility: visible;
          padding: 1px;
          background-color: rgb(245, 245, 245);
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  .Nav {
    .Nav-Dropdown {
      height: 100%;
      .Navbar {
        width: 100%;
        background-color: #e7c5a5;
        height: 100%;
        @include flexRow;
        .buttonMenu {
          display: none;

          .faBars {
            display: none;
          }
        }
        .Nav-Container-Content-Link-MinWidth400 {
          @include flexRow;
          width: 70%;
          margin-top: 15px;

          .Nav-link-Width400 {
            width: 60%;

            display: flex;
            justify-content: flex-end;
          }
        }
        .faShoppingCart-Icon-Content {
          .faShoppingCart-Icon-Content-Container {
            .faShoppingCart {
            }
          }
        }
        .Loggin-Content-Container {
          width: 35%;
          margin: 10px;

          @include flexRow;
          justify-content: flex-end;
          .Loggin-Container {
            display: flex;
            margin-top: 3px;
            margin-right: 7px;
          }
          .faShoppingCart-Icon-Content-Container {
            display: flex;
            margin: 7px;

            .faShoppingCart {
              color: rgb(241, 119, 119);
              margin-left: 5px;
            }
            .Quantity-Counter-Totalt {
              margin-left: 5px;
            }
          }
        }
      }
      .Menu-Dropdown-Content {
        display: none;
        .Menu-Container-Content-Li {
          display: none;
          .Menu-Container-Content-Text {
          }
          .Menu-Container-Content-Text:hover {
          }
          .Menu-Container-Content-Text::before {
          }
          &:hover ::before {
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .Nav {
    .Nav-Dropdown {
      .Navbar {
        .faShoppingCart-Icon-Content {
          .faShoppingCart-Icon-Content-Container {
            .faShoppingCart {
            }
          }
        }
        .Loggin-Content {
          .faShoppingCart-Icon-Content-Container {
          }
        }
      }
      .Menu-Dropdown-Content {
        .Menu-Container-Content-Li {
          .Menu-Container-Content-Text {
          }
          .Menu-Container-Content-Text:hover {
          }
          .Menu-Container-Content-Text::before {
          }
          &:hover ::before {
          }
        }
      }
    }
  }
}
