.Product-Content-List {
  background-color: rgb(198, 228, 173);
  width: 100%;
  @include flexColumn;
  justify-content: center;
  .Product-Content {
    width: 85%;
    background-color: brown;
    margin: 30px;
    @include flexRow;
    flex-wrap: wrap;
    .Product-Image {
      width: 100%;
      justify-content: center;
      display: flex;
      background-color: rgb(50, 42, 165);
    }
    .Product-Content-Text {
      @include flexRow;

      .Product-Content-Price {
        font-size: $textSizeSmall;
        display: flex;
        margin: 10px;
      }
      .Product-Content-Name {
        font-size: $textSizeStandard;
        display: flex;
        margin: 10px;
      }
    }
  }
}
@media only screen and (min-width: 400px) {
  .Product-Content-List {
    background-color: rgb(21, 38, 134);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .Product-Content {
      background-color: hotpink;
      width: 30%;

      .Product-Image {
        width: 100%;
      }
      .Product-Content-Text {
        flex-direction: column;
        .Product-Content-Price {
        }
        .Product-Content-Name {
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .Product-Content-List {
    background-color: rgb(77, 86, 134);

    .Product-Content {
      .Product-Image {
      }
      .Product-Content-Text {
        .Product-Content-Price {
        }
        .Product-Content-Name {
        }
      }
    }
  }
}
