@import "./variables.scss";
@import "./mixins";
@import "./_admin.scss";

#root {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    .App-header {
      display: flex;
      flex-direction: row;
    }
    .navbar {
      nav {
        ul {
          li {
            a {
            }
          }
        }
      }
    }
    main {
      @include flexColumn;
      justify-content: center;
    }
    footer {
    }
  }
}
